---
layout: default
title: Curriculum Vitae
section_id: cv
image: images/banners/goodgod.jpg
---

<div class='full parallax' style='background-image: url({{page.image}}); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Curriculum vitae" color="#fff" tagline="Things I have been doing" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Work History" %}
      <div class='spacing'></div>
    </div>
  </div>
  {% for job in site.data.cv.work %}
  {% unless job.hidden %}
  <div class='row'>
    <div class="medium-6 large-4 columns">
      {% if job.division %}
      <h4>{{job.division}}, {{job.company}}</h4>
      {% else %}
      <h4>{{job.company}}</h4>
      {% endif %}
      <p>{{job.location}}<br>{{job.dates}}</p>
    </div>

    <div class="medium-6 large-8 columns">
      <b>{{job.position}}</b> &mdash; {{job.description}}
      {% if job.supervisors %}
      <p><em>Supervisors:</em>
      {% for supervisor in job.supervisors %}
      {{supervisor}}
      {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
  <div class='one spacing'></div>
  {% endunless %}
  {% endfor %}
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Education" %}
      <div class='spacing'></div>
    </div>
  </div>
  {% for school in site.data.cv.education %}
  <div class='row'>
    <div class="medium-6 large-4 columns">
      <h4>{{school.degree}}</h4>
    </div>
    <div class="medium-6 large-8 columns">
      <b>{{school.institution}}</b>, {{school.location}}, {{school.year}}.<br>
      {% if school.description %}
      <i>{{school.description}}</i><br>
      {% endif %}
      {% if school.thesis %}
        Thesis: <i>{{school.thesis}}</i>
        {% if school.supervisors %}<br>
          Supervisors:
          {% for supervisor in school.supervisors %}
            {{supervisor}}
          {% endfor %}
        {% endif %}
        {% if school.keywords %}<br>
          Keywords:
          {% for keyword in school.keywords %}
            <i>{{keyword}}</i>
          {% endfor %}
          {% endif %}
        {% if school.thesis_url %}<br>
          <span class="warning label">
            <a href="{{ school.thesis_url }}">BibTex</a>
          </span>
          <span class="warning label">
            <a href="{{ school.thesis_url }}">Abstract</a>
          </span>
          <span class="warning label">
            <a href="{{ school.thesis_url }}">PDF</a>
          </span>
          <span class="warning label">
            <a href="{{ school.thesis_url }}">Code</a>
          </span>
        {% endif %}
      {% endif %}
      {% if school.supervisors %}
        {% unless school.thesis %}
          Supervisors:
          {% for supervisor in school.supervisors %}
            {{supervisor}}
          {% endfor %}
        {% endunless %}
      {% endif %}
    </div>
  </div>
  <div class='one spacing'></div>
  {% endfor %}
</div>

<div class='full parallax' style='background: #fff'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Skills" %}
      <div class='spacing'></div>
    </div>
  </div>

  <div class='row'>
    <div class="medium-6 large-4 columns">
      <h4>Languages</h4>
    </div>
    <div class="medium-6 large-8 columns">
      <ul>
        {% for language in site.data.cv.languages %}
        <li> {{ language.language }} ({{ language.level }}) </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='one spacing'></div>

  {% for skill in site.data.cv.skills %}
  <div class='row'>
    <div class="medium-6 large-4 columns">
      <h4>{{ skill.name }}</h4>
    </div>
    <div class="medium-6 large-8 columns">
      <ul>
        {% for item in skill.items %}
        {{ item }}

        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='one spacing'></div>
  {% endfor %}


my 2-page curriculum vitae is available [here]({{site.url}}/pdf/cv.pdf).


</div>

