---
layout: default
section_id: home
title: /ˈdje.ɣo/

fields:
  - icon: microphone
    title: Audio Signal Processing
    desc:
  - icon: music
    title: Music and Bass
    desc:
  - icon: code
    title: Coding and Algorithms
    desc:
  - icon: gears
    title: Machine Learning
---

<div class="two spacing"></div>

<div class="row">
  <div class="medium-8 columns">

    <p><b>{{ site.motto | markdownify }}</b></p>

    <p>{{ site.short_bio | markdownify }}</p>

    <h4>News</h4>
    {% for news in site.data.news limit:5 %}
    <div class='row'>
      <div class='small-2 columns'>
        <b>{{ news.date | date: '%Y-%m-%d' }}</b>
      </div>
      <div class='small-10 columns'>
        {{ news.text | markdownify }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="medium-4 columns">
    <div id="bio">
      <img src= {{ site.avatar }} class="img-circle"><br>

      <div class='spacing'></div>
      <ul class='socials'>
        {% for social in site.socials_fa %}
        <li>
          <a href={{ social.url }}>
            <i class='fa fa-{{ social.icon }}'></i>
          </a>
        </li>
        {% endfor %}
        {% for social in site.socials_ai %}
        <li>
          <a href={{ social.url }}>
            <i class='ai ai-{{ social.icon }}'></i>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
</div>

<div class="two spacing"></div>

<div class="row">
  {% for field in page.fields %}
  <div class="medium-4 large-3 columns">
    {% include icon-text.html title=field.title desc=field.desc icon_class=field.icon delay='600' shape_class='icon-text-circle' %}
  </div>
  {% endfor %}
</div>

<div class="spacing"></div>