---
layout: default
title: Portfolio
section_id: portfolio
image : images/banners/arm-banner.jpg
---


<div class='full parallax' style='background-image: url({{page.image}}); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Portfolio" tagline="Things made of me" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='algorithms' href='#'>Algorithms</a>
          </li>
          <li>
            <a data-cat='audio' href='#'>Audio</a>
          </li>
          <li>
            <a data-cat='hardware' href='#'>Hardware</a>
          </li>
          <li>
            <a data-cat='software' href='#'>Software</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in site.projects %}

        <li class="{{ work.klass }}">
          {% if work.redirect == null %}
          <a href='{{ work.url }}'>
            <img alt="" src="{{ work.thumbnail }}" />
            <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p style="font-variant: small-caps;">{{ work.tagline }}</p>
                </div>
              </div>
            </a>
          {% else %}
          <a href='{{ work.redirect }}'>
            <img alt="" src="{{ work.thumbnail }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p style="font-variant: small-caps;">{{ work.tagline }}</p>
              </div>
            </div>
          </a>
          </li>
        {% endif %}
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
