---
layout: default
title: Publications
section_id: pubs
image : images/banners/mandela.jpg
file: papers
---

<div class='full parallax' style='background-image: url({{page.image}}); color: #000;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Publications" color="#fff" tagline="Things I have been writing" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Journal Papers" %}
      <div class='spacing'></div>
    </div>
  </div>
  {% for paper in site.data.papers.article %}
  <div class='row'>
    <div class="small-1 columns" align="center">
      {{ paper.year }}
    </div>
    <div class='large-8 columns'>
      <b>{{ paper.title }}</b><br>
      <em>{{ paper.author }}</em><br>
      in {{ paper.journal }},
      Vol. {{ paper.volume }}, Num. {{ paper.number }},
      pp. {{ paper.pages }}, {{ paper.year }}.<br>
    </div>

    <div class='large-3 columns'>
      <div id="pubs"><ul class="socials">
          {% for res in paper.resources_link %}
            <a title="{{res.name}}" href="{{ res.link }}" target="_blank"><i class='{{ res.icon }}'></i></a>
          {% endfor %}
          <br>
          <!-- my popup -->
          {% for res in paper.resources_popup %}
          <a title="{{res.name}}"><i class="{{res.icon}}" data-modal-target="#modal"></i></a>
          <div class="modal" id="modal">
            <div class="modal-header">
              <div class="title">{{ res.name }}</div>
              <button data-close-button class="close-button">&times;</button>
            </div>
          <div class="modal-body">{{res.text}}</div>
          </div>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  <div class='one spacing'></div>
  {% endfor %}
  <div class='three spacing'></div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Conference Papers" %}
      <div class='spacing'></div>
    </div>
  </div>
  {% for paper in site.data.papers.inproceedings %}
  <div class='row'>
    <div class="small-1 columns" align="center">
      {{ paper.year }}
    </div>
    <div class='large-8 columns'>
      <b>{{ paper.title }}</b><br>
      <em>{{ paper.author }}</em><br>
      in {{ paper.booktitle }},
      {% if paper.pages %}
      pp. {{ paper.pages }},
      {% endif %}
      {{ paper.year }}.<br>
    </div>
    <div class='large-3 columns'>
      <div id="pubs">
        <ul class="socials">
        {% for res in paper.resources_link %}
        <a title="{{res.name}}" href="{{ res.link }}" target="_blank"><i class='{{ res.icon }}'></i></a>
        {% endfor %}
        <br>
        <!-- my popup -->
        {% for res in paper.resources_popup %}
        <a title="{{res.name}}"><i class='{{res.icon}}' data-modal-target="#paperModal_{{paper.id | slugify}}_{{res.name}}"></i></a>
        <div class="modal" id="paperModal_{{paper.id | slugify}}_{{res.name}}">
          <div class="modal-header">
            <div class="title">{{res.name}}</div>
            <button data-close-button class="close-button">&times;</button>
          </div>
          <div class="modal-body">{{res.text}}</div>
        </div>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class='one spacing'></div>
  {% endfor %}
  <div class='three spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Thesis" %}
      <div class='spacing'></div>
    </div>
  </div>
  {% for paper in site.data.papers.thesis %}
  <div class='row'>
    <div class="small-1 columns" align="center">
    {{ paper.year }}
    </div>
    <div class='large-9 columns'>
      <b>{{ paper.title }}</b><br>
      <em>{{ paper.author }}</em> - supervised by <em>{{ paper.advisor }}</em><br>
      {{ paper.school }}, {{ paper.year }}.
    </div>
    <div class='large-2 columns'>
    {% if paper.url %}
      <span class="warning label">
        <a href="{{ paper.url }}">PDF</a>
      </span>
    {% endif %}
    {% if paper.code %}
      <span class="alert label">
        <a href="{{ paper.code }}">Code</a>
      </span>
    {% endif %}
    </div>
  </div>
  <div class='one spacing'></div>
  {% endfor %}
  <div class='three spacing'></div>
</div>

<div class='full parallax' style='background-image: url(images/banners/projects.jpg);'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Miscellaneous" %}
      <div class='spacing'></div>
    </div>
  </div>
  {% for paper in site.data.papers.other %}
  <div class='row'>
    <div class="small-1 columns" align="center">
      {{ paper.year }}
    </div>
    <div class='large-9 columns'>
      <b>{{ paper.title }}</b><br>
      <em>{{ paper.author }}</em> - supervised by <em>{{ paper.advisor }}</em><br>
      {{ paper.where }}, {{ paper.year }}.
    </div>
    <div class='large-2 columns'>
      {% if paper.url %}
      <span class="warning label">
        <a href="{{ paper.url }}">PDF</a>
      </span>
      {% endif %}
      {% if paper.code %}
      <span class="alert label">
        <a href="{{ paper.code }}">Code</a>
      </span>
      {% endif %}
    </div>
  </div>
  <div class='one spacing'></div>
  {% endfor %}
  <div class='three spacing'></div>
</div>